* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    color: black;
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 15px;
    height: 50px;
    font-size: 15px;
    margin-left: 70px;
}

.header li {
    padding: 0px 10px;
}

.header li:hover {
    color: #0067b8;
}

.icon {
    padding: 0px 20px;
}

.H1 {
    font-size: 25px;
    margin-left: 300px;
    display: inline;
}

.H1:hover {
    color: #0067b8;
}

.H2 {
    font-size: 25px;
    margin-left: 30px;
    display: inline;
}

.H2:hover {
    color: #0067b8;
}

.H3 {
    font-size: 25px;
    margin-left: 30px;
    display: inline;
}

.H3:hover {
    color: #0067b8;
}

.main {
    background-color: #f5f3f3;
    height: 550px;
}

.main1 {
    padding: 150px 100px;
}

.Section {
    background-color: white;
    width: 100%;
    height: auto;
    box-align: center;
    margin-left: 200px;
    margin-top: 30px;
}

.box1 {
    text-align: center;
    margin: 10px 5px;
    float: left;
    width: 200px;
}

.box1 a {
    color: #0067b8;
}

.sectionn {
    margin: 40px;

}

.box2 {
    /* border: 2px solid black; */
    width: 260px;
    height: 400px;
    overflow: hidden;
    float: left;
    margin: 15px;
    padding: 8px;
}

.box2 a {
    text-decoration: none;
    font-size: 20px;
}

.image {
    position: relative;
    margin: 30px 50px;
}

.image a {
    text-decoration: none;
    color: black;
}

.imgbox {
    position: absolute;
    /* border: 2px solid; */
    top: 0px;
    width: 400px;
    height: 280px;
    background-color: white;
    margin: 150px 50px;
    padding: 40px 50px;
    font-size: 20px;
}

.button {
    background-color: #0067b8;
    color: white;
    border-radius: 5px;
    border: 0px;
    font-size: 15px;
    padding: 10px;
}

.Socialicon {
    display: inline-flex;
    font-size: 20px;
    margin-left: 70px;
}

.sticky {
    position: sticky;
    background-color: #EEEDED;
    width: 130px;
    height: 40px;
    padding: 10px;
    border-radius: 3px;
    bottom: 0px;
    float: right;
    margin-right: 20px;
}

.sticky a {
    text-decoration: none;
    color: black;
}

.sticky:hover {
    background-color: rgb(249, 247, 247);
    box-shadow: 0px 1px 0px 1px;
}

.footerr {
    margin-top: 80px;
    background-color: #EEEDED;
    padding: 20px 50px;
    color: #525050;
}

.footer {
    /* border: 1px solid; */
    width: 160px;
    display: inline-flex;
    margin: 15px;
    font-size: 13px;
}

.footer li {
    padding: 10px 0px;

}

.last {
    background-color: #EEEDED;
    color: #525050;
    display: inline-flex;
    width: 100%;
    padding-bottom: 30px;    
}

.last ul {
    display: inline-flex;
    margin-left: 400px;
}

.last ul li {
    padding: 8px;
    font-size: 15px;
}